<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Manifest Form</title>

    <style>
        html {
            font-family: "Roboto", sans-serif;
        }

        #store-name{
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        h1 {
            font-weight: normal;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            font-size: 0.6rem;
        }
        p{
            font-size: 0.7rem;
        }

        th {
            color: white;
            background-color: #0c0c0c;
        }

        .table-section-header {
            background-color: #f2f2f2;
            font-weight: bold;
            text-align: center;
            color: #333;
            border-bottom: 2px solid #ddd;
            padding: 8px;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: "Roboto", sans-serif;
        }
    </style>

</head>
<body>
<h1> <span id="store-name">{{ store_name }}</span> | Store Order Form</h1>
<hr>
<p>
    Order #: {{ dto.order_number }} | Status: {{ dto.status }} | Placed: {{ dto.created_at }}
</p>
<p>
    {{ dto.notes | default(value="") }}
</p>
<table>
    <thead>
    <tr>
        <th>Bin Loc</th>
        <th>Item Number</th>
        <th>Description</th>
        <th>MP</th>
        <th>Quantity Ordered</th>
        <th>Case Qty/Unit</th>
        <th>Order Total</th>
    </tr>
    </thead>
    <tbody>
    {% for group in groups %}
    <tr>
        <td colspan="9" class="table-section-header">{{ group.category_name }}</td>
    </tr>
    {% for it in group.items %}
    <tr>
        <td>{{ it.product_bin_location }}</td>
        <td>{{ it.product_sku }}</td>
        <td>{{ it.product_name }}</td>
        <td>${{ it.unit_price }}</td>
        <td>{{ it.quantity }}</td>
        <td>{% if it.product_unit_type == 0 %}each{% elif it.product_unit_type == 1 %}case{% elif it.product_unit_type == 2 %}roll{% else %}?{% endif %}</td>
        <td>${{ it.total_price }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>
</body>
</html>